* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: rgb(223, 215, 215);
  line-height: 1.5rem;
}
/* 
h1 {
  margin: 20px 0px 20px 10px;
  color: red;
}

p {
  margin-left: 10px;
} */
